.image-flow-container {
  overflow: hidden;
  max-width: 500px;
}

.image-flow-wrapper {
  display: flex;
  animation: flowAnimation 30s linear infinite;
  white-space: nowrap; /* Prevent images from wrapping to the next line */
}

.image-flow-item {
  /* flex: 0 0 auto; */
  min-width: calc(100vw / 24);
  border-radius: 10px;
  height: 228px;
  margin-right: 16px; /* Adjust the margin as needed */
}

@keyframes flowAnimation {
  100% {
    transform: translateX(-90%);
  }
}
