.image-grid {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px; /* Adjust the gap between images as needed */
}

.image-grid img {
  width: 100%;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}
